<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Tracker</title>
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
    <div>
    <h1 spellcheck="false">Event Tracker</h1>
    <form action="/subscribe" method="POST">
        <label for="topic">Event:</label>
        <input type="text" id="topic" name="topic" placeholder="Name of the event" autofocus required><br><br>

       <label for="scheduleOption">Frequency:</label>
        <select id="scheduleOption" name="scheduleOption" required> 
            <option value="minute">Every minute</option>
            <option value="hour">Every hour</option>
            <option value="day">Every day</option>
            <option value="week">Every week</option>
        </select><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email" required><br><br>
        
        <input type="submit" value="Subscribe">
    </form>
</div>
</body>
</html>
